body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    font-family: Arial, sans-serif;
}

.drop-zone {
    width: 600px;
    height: 400px;
    border: 3px dashed #888;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #ececec;
    background-color: #494949;
    position: relative;
    transition: .3s;
}

.is-dragover {
    background-color: #dfdfdf;
    color: rgb(31, 31, 31);
}

#canvas {
    display: none;
    max-width: 100%;
    max-height: 100%;
}
